
.nav-link{
    color: white! important;
    font-weight: bold! important;
    }
    .nav-link:hover{
        
        color: #b32044! important;
        
    }
      
      
.dropdown-menu{
    color: red! important;
}
.card{
    background-color: #ffffff! important;
    border: none! important;

}

.btn:hover{
    background-color: #ff1d1d! important;
}


.card-body{
    background-color: #F5F7F8;
}

.card-price{
    font-size: x-large;
    color: #000000;
}
/* img hover */
.card-img-top {
        transition: 0.1s ease;
        }
        
        .card-img-top:hover{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.8);
        transform: scale(0.9);
        transition: 0.2s ease;
        }
    
/* CONTACT */

.contact-container {
    padding: 30px 15px;
}
.contact-details .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #007BFF;
}
.contact-details li {
    font-size: 16px;
}
.form-container input, .form-container textarea {
    border-radius: 5px;
    margin-bottom: 15px;
}
.sbmitbtn {
    background-color: #b80000;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 73px;
    margin-bottom: 0px;
}
.sbmitbtn:hover {
    background-color:#ff1d1d;
}

/* footer */
footer{
    background-color:#ffd0d0b9
}